.sidebar-list{
    padding: 10px 10px 10px 30px;
    }
    .linear-icon-link{
        color: white;
        font-size: 20px;
        display: flex
    ;
        gap: 10px;
    }
    .sidebar-link{
        color: white;
        font-size: 20px;
        display: flex
    ;
        gap: 10px;
    }
    .sidebar-list:hover{
       
        background-color: #0d6150;
      
      
        
        
        }
    .linear-icon-link i {
        font-size: 20px;
        padding-right: 12px;
    }
        
    .sidebar-link i {
        font-size: 20px;
        padding-right: 12px;
    }
    
        /* .category-slider{
            display: flex;
            gap: 10px;
            overflow-x: auto;
            overflow-y: auto;
        } */
    
    
        .sidebar-submenu li {
            padding: 10px 10px 10px 30px;
            font-size: 18px;
           
        }
        
        .sidebar-submenu li a{
            color: white  !important;
           
        }
        .sidebar-submenu li:hover a {
            color: aqua !important;
        }
        
    
    
    
    
        /* /////////////////////////// */
    
    
        /* .submenu-arrow {
            transition: transform 0.3s ease;
            margin-left: 8px;
          }
          
          .submenu-arrow.rotate {
            transform: rotate(180deg); 
          }
          
          
          .sidebar-submenu {
            margin-left: 20px;
          }
           */
    
    
    
           /* Sidebar Dropdown Arrow */
    .submenu-arrow {
        transition: transform 0.3s ease; /* Smooth transition for arrow rotation */
      }
      
      /* When the submenu is open, rotate the arrow to point down */
      .submenu-arrow.rotate {
        transform: rotate(90deg); /* Rotate the arrow by 90 degrees (pointing down) */
      }
      
      /* Initially, the arrow points to the right */
      .ri-arrow-right-s-line {
        transform: rotate(0deg); /* Arrow points to the right by default */
      }
      
      /* Optional: Styling for the submenu itself */
      .sidebar-submenu {
        padding-left: 5px;
      }
      
    
    
      .dropcontant{
        width: 70%;
        display: flex;
        justify-content: space-between;
      }
    
      /* .ri-arrow-right-s-line{
        border: 1px solid black;
        border-radius:50px ;
        background-color: blanchedalmond;
        padding: 0%;
        width: 20%;
      } */
    
    
      .sidebar-wrapper {
        position: fixed;
        top: 0;
        z-index: 7;
        line-height: inherit;
        background: var(--theme-color);
        width: 280px;
        height: auto;
        text-align: left;
        -webkit-box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
        box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
        /* background: linear-gradient(-45deg, #0da487, #009289, #ffa53b); */
        background-size: 400% 400%;
        -webkit-animation: gradient 15s ease infinite;
        /* animation: gradient 15s ease infinite; */
        overflow: hidden;
    }